/* body */
#body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: beige;
  
}
#details{
  background: brown;
}


/* heading */
h1{
  color: rgb(218, 94, 12);
  font-family:cursive, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
/* image  style */
.product-image {
  width: 150px;
  height: 230px;
 padding: 10px;
}

/* cart style */
.cart {
  top:230px;
  right: 0;
  width: 350px;
  border: 1px solid green; 
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  /* margin-right:  50px ; */
  position: fixed;
}
